[{{ rclone_s3_remote_name }}]
type = s3
env_auth = false
access_key_id = {{ rclone_s3_access_key_id }}
secret_access_key = {{ rclone_s3_secret_access_key }}
region = {{ rclone_s3_region }}
endpoint =
location_constraint = {{ rclone_s3_location_constraint }}
acl = bucket-owner-full-control
server_side_encryption = AES256
storage_class = STANDARD
